.base-header {
  height: 93px;
}

.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 680px;
  background-color: #717171;
}

/* Next & previous buttons */
.prev-bro,
.next-bro {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: translateY(-50%);
}

/* Position the "next button" to the right */
.next-bro {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-bro:hover,
.next-bro:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-bro,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.bro-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

#subheader {
  height: 75px;
}

#super-footer-bro {
  height: 176px;
}

.dreamer {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
}

.dreamer > * {
  color: white;
  z-index: 1000;
  font-weight: bold;
  display: block;
  outline: none;
  border: none;
  width: 28rem;
  transition: all 400ms;
}

.dreamer__top {
  background-color: rgb(85, 162, 166);
  padding: 15px 20px;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.dreamer__bottom {
  background-color: #515050;
  font-size: 4rem;

  padding: 15px 20px;
}
